@font-face {
	font-family: 'PressStart2P-Regular';
	font-weight: 400;
	src: url(/fonts/PressStart2P-Regular.woff);
}

@font-face {
	font-display: swap;
	font-family: 'Inter-Variable';
	src:
	  local('Inter-Variable'),
	  url('/fonts/Inter-Variable.woff2') format('woff2 supports variations'),
		  url('/fonts/Inter-Variable.woff2') format('woff2-variations');
	  font-weight: [400] [785];
  }